@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --form-width: 7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: hsl(0, 0%, 86%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  border-radius: 1rem 1rem 10rem 1rem;
}

/* Form */
.form-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, var(--form-width));
  grid-template-rows: repeat(2, auto);
  gap: 0.3rem 1.5rem;
}

label {
  width: var(--form-width);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(0, 1%, 44%);
}

input {
  height: 3rem;
  border-radius: 0.5rem;
  width: var(--form-width);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 86%);
  outline: none;
  transition: 0.2s;
}

::placeholder {
  color: hsl(0, 0%, 86%);
}

.seperator {
  position: relative;
  margin: 2rem 0;
}

hr {
  border: 1px solid hsl(0, 0%, 86%);
  width: 32rem;
}

#arrow {
  background-color: hsl(259, 100%, 65%);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

/* Age */
.age-container {
  font-style: italic;
}

.age-result {
  color: black;
  font-size: 5rem;
}

.number {
  color: hsl(259, 100%, 65%);
}


/* Active states */
input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

#arrow:hover {
  background-color: black;
}

/* ERRORS */
.error {
  color: hsl(0, 100%, 67%);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

/* MEDIA SCREENS */
@media (max-width:700px) {
  label {
    font-size: 1rem;
  }

  .seperator {
    margin: 4rem 0;
  }

  #arrow {
    right: 50%;
    transform: translate(50%, -50%);
  }

  hr {
    width: auto;
  }

  .age-result {
    font-size: 4rem;
  }
}